{{ define "content" }}

  <div id="content"></div>

  <script type="text/babel">
    var Alert = ReactBootstrap.Alert;
    var Input = ReactBootstrap.Input;
    var Button = ReactBootstrap.Button;
    var ProgressBar = ReactBootstrap.ProgressBar;
    var Login = React.createClass({
      getInitialState() {
        return {
          emailText: '',
          passwordText: '',
          importing: false,
          alert: {}
        };
      },
      validationState() {
        let email = this.state.emailText;
        if (email.length < 3) return;
        let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        let match = re.test(email);
        if (match) return 'success';
        return 'warning';
      },
      handleChange() {
        this.setState({
          emailText: this.refs.email.getValue(),
          passwordText: this.refs.password.getValue()
        });
      },
      handleAlertDismiss() {
        this.setState({
          alert: {}
        });
      },
      handleClick() {
        var self = this;
        self.setState({
          importing: true,
          alert: {}
        });

        let username = this.state.emailText;
        let password = this.state.passwordText;

        window.superagent
          .get('/auth')
          .auth(username, password)
          .end(function(err, res){
            if (err) {
              self.setState({
                importing: false,
                alert: {
                  text: "Network Error",
                  style: "error",
                }
              });
              return;
            }

            if (res.status != 200) {
              self.setState({
                importing: false,
                alert: {
                  text: "Import Failed",
                  style: "error",
                }
              });
              return;
            }

            window.superagent
              .post('/import')
              .auth(username, password)
              .end(function(err, res){
                if (err || res.status != 200) {
                  self.setState({
                    importing: false,
                    alert: {
                      text: "Import Failed",
                      style: "error",
                    }
                  });
                  return;
                }

                self.setState({
                  importing: false,
                  alert: {
                    text: "Import Succeeded!",
                    style: "success",
                  }
                });
              });
          });
      },
      render: function() {
        var button;
        if (this.state.importing) {
          button = <ProgressBar active now={100}/>;
        } else {
          button = <Button bsStyle="primary" onClick={this.handleClick}>Import</Button>;
        }

        var alert;
        if (this.state.alert.text) {
          alert = <Alert bsStyle={this.state.alert.syle} onDismiss={this.handleAlertDismiss}>{this.state.alert.text}.</Alert>;
        }

        return (
          <div>
            {alert}

            <Input
              type="text"
              value={this.state.emailText}
              placeholder="Instapaper Email"
              label="Email"
              bsStyle={this.validationState()}
              hasFeedback
              ref="email"
              groupClassName="group-class"
              labelClassName="label-class"
              onChange={this.handleChange} />

            <Input
              type="password"
              value={this.state.passwordText}
              placeholder="Instapaper Password"
              label="Pasword"
              hasFeedback
              ref="password"
              groupClassName="group-class"
              labelClassName="label-class"
              onChange={this.handleChange} />

            {button}
          </div>
        );
      }
    });

    ReactDOM.render(<Login />, document.getElementById('content'));
  </script>

{{ end }}
