{{ define "content" }}
  <div class="row" style="text-align:center;">
    <div class="col-md-6" style="display:inline-block;float:none;margin-right:-4px;">
      <input type="text" class="form-control" id="inputEmail" placeholder="Email" autocomplete="off">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="off">
      <p/><p/>
      <a href="/import" class="btn btn-success" role="button"><i class="fa fa-sign-in"></i> Import</a>
    </div>
  </div>
{{ end }}
